.aside {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.home {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}

@media (max-width: 1399.98px) {
  .home {
    gap: 24px;
  }
}
