.search-form {
  display: flex;
  width: 100%;
  min-width: 360px;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 4px 33px 0px rgba(0, 0, 0, 0.04);
  &__inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    .inputs {
      &__input {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 7px;
        align-self: stretch;
        label {
          color: #424242;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        input {
          padding: 15px;
          width: 100%;
          border-radius: 4px;
          border: 1px solid #c9cacc;
          background: #fff;
          color: #424242;
          font-size: 16px;
          font-style: normal;
          font-weight: 300;
          line-height: 20px;
        }
        input[type="date"] {
          -webkit-appearance: none;
          appearance: none;
        }
      }
    }
  }
  &__button {
    width: 100%;
  }
}
